

:root {
    --color_blu_premey: #090C1E;
    --blue_secondery: #12182B;
    --flat_blue: #1F2536;
    --blue_sky:#2C63D5;
    --Orange_premery: #DE8333;
    --White_Title: #F2F2F2;
    --gray_Title: #dedede;
    --White_background: #F1F5F9;
    --black_secondery: #1E1E1E;
    --gray-light: #f5f5f5;
    --gray-text: #666;
    --green-premery:#22c55e;

    --Title_H1: 30px;
    --Title_h2: 28px;
    --paragraph: 18px;
    --text: 16px;
    --small-text: 14px;

    --shadow-sm: 0 3px 10px rgba(0,0,0,0.05);
    --shadow-md: 0 10px 25px rgba(0,0,0,0.1);
    --shadow-lg: 0 15px 35px rgba(0,0,0,0.15);
    --shadow-orange: 0 10px 20px rgba(222, 131, 51, 0.2);

    --transition: all 0.3s ease;
    --transition-slow: all 0.5s ease;
    --boder_color:#3d4d61;
    --blue_purpo: linear-gradient(135deg, #6366f1, #8b5cf6);
--green-bg: rgba(46, 204, 113, 0.15);
    --green-text: #2ecc71;

    --blue-bg: rgba(52, 152, 219, 0.15);
    --blue-text: #3498db;

    --red-bg: rgba(231, 76, 60, 0.15);
    --red-text: #e74c3c;

    --yellow-bg: rgba(241, 196, 15, 0.15);
    --yellow-text: #f1c40f;;
}



body.light-mode {
    --color_blu_premey: #F1F5F9;
    --blue_secondery: #ffffff;
    --flat_blue: #e2e8f0;
    --blue_sky:#2C63D5;
    --Orange_premery: #DE8333;
    --White_Title: #0f172a;
    --White_background: #ffffff;
    --gray_Title: #454545;
    --black_secondery: #1E1E1E;
    --gray-light: #e2e8f0;
    --gray-text: #475569;
    --boder_color:#cbd5e1;
    i{
    color: var(--black_secondery);
}
p{
    color: var(--black_secondery);
}

.logo h1{
    color: var(--gray-light);
}

.INT{
    color: var(--gray-light);
}
}


body {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    background-color: var(--color_blu_premey);
    position: relative;
}
h1 {
    font-size: var(--Title_H1);
    line-height: 1.2;
}

h2 {
    font-size: var(--Title_h2);
    font-weight: 500;
}

h3 {
    font-size: var(--Title_h3);
    font-weight: 500;
}

ul li{
    list-style: none;

}
a{
    text-decoration: none;
}


section {
    padding: 30px 50px;
}
i{
    color: var(--White_background);
}




@media (max-width: 576px){

    .box_items_dashboard{
           display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
    .analystics{
        display: flex;
        flex-direction: column;
    }

}


@media (max-width: 992px){
      .box_items_dashboard{
           display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .analystics{
        display: flex;
        flex-direction: column;
    }

}
@media (max-width: 768px){
    .box_items_dashboard{
           display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

}






/*========= page add users =====*/

.grid_layout {
    display: flex;
    gap: 15px;
}

.head_page h2{
    font-size: 24px;
    color: var(--White_Title);
    font-weight: 500;
    text-transform: capitalize;
}

.head_page p{
    color: var(--gray-light);
    font-size: 14px;
    font-weight: 400;
    display: flex;
    padding: 10px 0;
}

/*==========left item add user ====== */


.left_content_add {
    padding: 20px;
    width: 100%;
    background-color: var(--blue_secondery);
    border-radius: 10px;
    border: 0.5px solid var(--flat_blue);
}


.left_content_add h3{
    font-size: 16px;
    color: var(--White_Title);
    font-weight: 500;
    display: flex;
    padding: 10px 0;

    text-transform:capitalize
}
.left_content_add select{
    border: 0.5px solid var(--boder_color);
    background-color: var(--color_blu_premey);
    width: 100%;
    color: var(--gray_Title);
    font-size: 14px;
    padding: 10px  8px;
    border-radius: 10px;
}

.left_content_add input{
    border: 0.5px solid var(--boder_color);
    background-color: var(--color_blu_premey);
    padding: 10px  8px;
    outline: none;
    border-radius: 10px;
    text-transform: capitalize;
    color: var(--gray_Title);
    width: 100%;
}
.left_content_add label{
    color: var(--gray_Title);
    display: block;
    font-weight: 400;
    font-size: 15px;
    text-transform: capitalize;
    opacity: 90%;
    padding: 10px 0;

}

.left_content_add textarea{
    width: 100%;
    border: 0.5px solid var(--boder_color);
    background-color: var(--color_blu_premey);
    padding: 20px;
    color: var(--gray_Title);
    font-size: 14px;
    text-transform: capitalize;
    outline: none;
    border-radius: 10px;
}
/*=====fist_lastname=======*/



.fist_name , .last_name{
    width: 100%;
}



.phone_number , .role{
    width: 100%;
}



.country , .state , .city{
    width: 100%;
}

.pickup_staff , .password_confirm , .countr_state_city , .phone_and_role ,.fist_lastname{
    display: flex;
    gap: 15px;
    align-items: center;
}

.pickup , .staff_warehouse{
    width: 100%;
}

.password , .confirm_password{
    width: 100%;
}


.send_welcome {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}
.send_welcome span{
    color: var(--White_Title);
    font-weight: 400;

}
.send_welcome input{
    width: 15px;
    height: 15px;
    border: 10px;
}

.user_information , .address_information , .warehouse_info,.password_confirm_par{
    border-bottom: 0.5px solid var(--boder_color);
    padding: 10px 0;
}
/*========= right_content_add ======*/



.right_content_add{
    width: 500px;

    padding: 0 10px;
border-radius: 10px;

box-shadow: var(--shadow-md);
height: 100%;
display: flex;
flex-direction: column;
gap: 15px;

}


.action {
    width: 100%;

    background-color: var(--blue_secondery);
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.action span{
    color: var(--White_Title);
    font-size: 18px;
    font-weight: 400;
    display: flex;
    padding: 15px 0;
}

.action .save_user{
    width: 100%;
    padding: 10px 0;
    margin-bottom: 5px;
    background-color: var(--blue_sky);
    color: var(--White_Title);
    font-size: 14px;
    font-weight: 400;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
align-items: center;
justify-content: center;
gap: 5px;

}

 .cancel_process {

    width: 100%;
    padding: 10px 0;
    margin-bottom: 5px;
    border: 1px solid var(--blue_sky);
    color: var(--blue_sky);
    font-size: 14px;
    font-weight: 400;
    outline: none;

        cursor: pointer;
        display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;



}


.account_status{
 width: 100%;
 background-color: var(--blue_secondery);
 padding: 15px 10px;
 border-radius: 10px;
}

.account_status h3{
    color: var(--White_Title);
    display: flex;
    padding: 10px 0;
}

.status_check {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* SWITCH */
.switch {
    position: relative;
    width: 45px;
    height: 24px;
}

/* HIDE DEFAULT */
.switch input {
    display: none;
}

/* SLIDER BACK */
.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: #334155;
    border-radius: 50px;
    transition: 0.3s;
}

/* CIRCLE */
.slider::before {
    content: "";
    position: absolute;
    height: 18px;
    width: 18px;
    left: 3px;
    top: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
}

/* ACTIVE */
.switch input:checked + .slider {
    background-color: #3b82f6;
}

.switch input:checked + .slider::before {
    transform: translateX(20px);
}

/* TEXT */
#statusText {
    color: #94a3b8;
    font-size: 14px;
}

.informations{
    width: 100%;
    background-color: #283f6c68;
    padding: 30px;
    border-radius: 10px;
    border: 0.5px solid var(--boder_color);
}


.warning i{
  font-size: 28px;
color: var(--blue_sky);
}

.warning h4{
    color: var(--White_Title);
    text-transform: capitalize;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    padding: 10px 0;
}
.informations p{
    color: var(--gray-light);
    font-size: 13px;
    line-height: 1.2;
    opacity: 70%;
    font-weight: 200;
    text-transform: capitalize;
}



/* container lib la */
.iti {
    width: 100%;
}

/* fè input la itilize style ou */
.left_content_add .iti input {
    border: 0.5px solid var(--boder_color) !important;

    padding: 10px 8px 10px 90px !important; /* espas pou flag */
    outline: none;
    border-radius: 10px !important;
    text-transform: capitalize;
    color: var(--gray_Title) !important;
    width: 100%;
}

/* flag position */
.iti__flag-container {
    left: 10px;
}

/* retire background flag la */
.iti__selected-flag {
    background: transparent !important;
}





@media (max-width: 576px){


    .grid_layout {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.right_content_add{
    width: 100%;
}

section{
    padding: 15px 10px ;
}

.pickup_staff , .password_confirm , .countr_state_city , .phone_and_role ,.fist_lastname{
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;
}

}



@media (max-width: 768px){
     .grid_layout {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.right_content_add{
    width: 100%;
}

section{
    padding: 15px 10px ;
}

.pickup_staff , .password_confirm , .countr_state_city , .phone_and_role ,.fist_lastname{
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;
}

}




@media (max-width: 992px) {
     .grid_layout {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.right_content_add{
    width: 100%;
}

section{
    padding: 15px 10px ;
}

.pickup_staff , .password_confirm , .countr_state_city , .phone_and_role ,.fist_lastname{
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;
}

}




/* CONTAINER */
.alert {
    position: fixed;
    top: 80px;
    right: 30px;
    min-width: 280px;
    max-width: 350px;
    padding: 12px 16px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    z-index: 9999;
    backdrop-filter: blur(10px);

    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease;
}

/* SHOW */
.alert.show {
    opacity: 1;
    transform: translateY(0);
}

/* SUCCESS */
.alert.success {
    background: rgba(34, 197, 94, 0.1);
    border: 1px solid rgba(34, 197, 94, 0.3);
    color: #22c55e;
}

/* ERROR */
.alert.error {
    background: rgba(239, 68, 68, 0.1);
    border: 1px solid rgba(239, 68, 68, 0.3);
    color: #ef4444;
}

/* CONTENT */
.alert_content {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* ICON */
.alert_content i {
    font-size: 18px;
}

/* CLOSE BUTTON */
.close_alert {
    cursor: pointer;
    font-size: 18px;
    opacity: 0.7;
}

.close_alert:hover {
    opacity: 1;
}

/* HIDDEN */
.hidden {
    display: none;
}





/* =========================
DOCUMENT TYPE
========================= */

.document_type{

    display:inline-flex;

    align-items:center;

    justify-content:center;

    padding:8px 14px;

    border-radius:30px;

    font-size:13px;

    font-weight:600;

}



/* PASSPORT */

.document_type.passport{

    background:
    rgba(59,130,246,.12);

    color:#60A5FA;

}



/* DRIVER LICENSE */

.document_type.driver_license{

    background:
    rgba(168,85,247,.12);

    color:#C084FC;

}



/* NATIONAL ID */

.document_type.national_id{

    background:
    rgba(34,197,94,.12);

    color:#4ADE80;

}






/* =========================
STATUS
========================= */

.status{

    display:inline-flex;

    align-items:center;

    justify-content:center;

    padding:8px 14px;

    border-radius:30px;

    font-size:13px;

    font-weight:600;

}



/* PENDING */

.status.pending{

    background:
    rgba(245,158,11,.12);

    color:#F59E0B;

}



/* APPROVED */

.status.approved{

    background:
    rgba(34,197,94,.12);

    color:#22C55E;

}



/* REJECTED */

.status.rejected{

    background:
    rgba(239,68,68,.12);

    color:#EF4444;

}










/*==============add shipment ===========*/

.input_search input{
    background-color: transparent;
    border: none;
}

.input_search{
    display: flex;
    align-items: center;
    background-color: var(--color_blu_premey);
    padding: 2px 10px;
    border-radius: 8px;
    border: 0.5px solid var(--boder_color);

}

.user_search{
     position: relative;

}

.grid_user_search {
    position: absolute;
    top: 90px;
    width: 100%;
    background-color: var(--flat_blue);
    z-index: 1000;
    padding: 10px 20px;
    border-radius: 10px;
    border: 0.5px solid var(--boder_color);
    max-height: 300px;
    overflow: scroll;


}






/* selected user */
.selected_user_box{
    background: var(--color_blu_premey);
    border: 1px solid var(--boder_color);
    padding: 12px;
    border-radius: 12px;
    color: var(--White_Title);
    margin-bottom: 10px;
    font-weight: 500;
}

/* dropdown style */
.grid_user_search{
    position: absolute;
    top: 90px;
    width: 100%;
    background: #1e293b;
    border: 1px solid var(--boder_color);
    border-radius: 12px;
    padding: 10px;
    max-height: 250px;
    overflow-y: auto;
}

/* search input */
.input_search{
    margin-bottom: 10px;
}

/* item hover */
.grid_user_search .initial:hover{
    background: rgba(255,255,255,0.05);
    border-radius: 8px;
}





/* 🔥 pa parèt default */
.user_search{
    display: none;
}

/* 🔥 lè user chwazi */
.user_search.active{
    display: block;
}

/* hover pro */
.grid_user_search .initial{
    cursor: pointer;
    transition: 0.2s;
}

.grid_user_search .initial:hover{
    background: rgba(255,255,255,0.05);
    border-radius: 8px;
}



.initial {
    border-bottom: 0.5px solid var(--boder_color);
    padding: 5px 0;
}
.INT-search{
    width: 30px;
    height: 30px;
    background-color: var(--blue_sky);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    color: var(--White_Title);
    border: 0.5px solid var(--boder_color);
    padding: 10px;
}

.name_email p:nth-child(1){
    color: var(--White_Title);
    text-transform: capitalize;
    display: flex;
    padding: 5px 0;
    align-items: center;
}

.name_email p:nth-child(1) span{
    margin-left: 20px;
    font-size: 12px;
    background-color: var(--green-premery);
    padding: 3px 5px;
    border-radius: 5px;
}

.name_email p:nth-child(2){
    color: var(--gray-light);
    font-size: 13px;
    opacity: 80%;
}
.grid_user_search .initial{
    display: flex;
    align-items: center;
    gap: 20px;
}


/*========= sender reciever ====*/


.sender_grid{
    display: flex;
    align-items: center;
    gap: 10px;
}

.sender_grid button{
    border: none;
    display: flex;
    flex-wrap: nowrap;
    padding: 10px 0px;
    align-items: center;
    color: var(--blue_sky);
    font-weight: 500;
    background: transparent;
    font-size: 16px;
    text-transform: capitalize;
    white-space: nowrap; /* 🔥 SA KI ENPÒTAN AN */
}


.custom_select_box{
    position: relative;
    width: 100%;
}


.selected_sender p{
    color: var(--gray-light);
}

.sender_grid select{
    color: var(--White_Title); /* oswa white */
}

.selected_sender{
    color: var(--White_Title);
}

.sender_option p{
    color: var(--gray-light);
}
.selected_sender{
    background: var(--color_blu_premey);
    border: 0.5px solid var(--boder_color);
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown_sender{
    display: none;
    position: absolute;
    width: 100%;
    background: var(--flat_blue);
    border: 0.5px solid var(--boder_color);
    border-radius: 8px;
    margin-top: 5px;
    z-index: 100;
    padding: 10px;
}

.custom_select_box.active .dropdown_sender{
    display: block;
}

.sender_option{
    padding: 8px;
    cursor: pointer;
}

.sender_option:hover{
    background: rgba(255,255,255,0.05);
}




.grid_user_search{
    display: none;
}

.user_search.active .grid_user_search{
    display: block;
}


.category , .shipping-type{
    width: 100%;
}
.categori_shippingtype{
    display: flex;
    gap: 15px;
}

.Package-Details{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
}

.fist_name button{
    background-color: var(--flat_blue);
    padding: 10px 8px;
    border-radius: 8px;
    border: 0.5px solid var(--boder_color);
    cursor: pointer;
}



.informations{
    background: #1e2a3a;
    border-radius: 16px;
    padding: 20px 25px;
    border: 1px solid rgba(255,255,255,0.08);
}

/* header */
.warning{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.warning i{

    color: #facc15; /* yellow */
}

.warning h4{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}



.tips_list{
    list-style: none;
    padding-left: 0;
}

.tips_list li{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #cbd5e1;
    margin-bottom: 10px;
    font-size: 14px;
}

.tips_list li i{
    color: #22c55e; /* green check */
    font-size: 16px;
}

/*========== pop up add contact======*/


/* =========================
   🔥 OVERLAY (BACKGROUND)
========================= */
.contact_overlay{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.55);

    opacity: 0;
    visibility: hidden;
    transition: 0.3s;

    z-index: 999;
}

/* 🔥 ACTIVE OVERLAY */
.contact_overlay.active{
    opacity: 1;
    visibility: visible;
}


/* =========================
   🔥 MODAL BOX
========================= */
.add_contact span{
    color: var(--gray-light);
}
.add_contact{
    position: fixed; /* 🔥 IMPORTANT */

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);

    width: 500px;
    max-width: 95%;

    background-color: var(--blue_secondery);
    border: 0.5px solid var(--boder_color);
    border-radius: 10px;
    padding: 20px;

    z-index: 1000;

    box-shadow: 0 20px 40px rgba(0,0,0,0.25);

    opacity: 0;
    visibility: hidden;

    transition: all 0.25s ease;
}

/* 🔥 ACTIVE MODAL */
.add_contact.active{
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}


/* =========================
   🔥 TEXT + LABEL
========================= */
.add_contact h3{
    color: var(--White_Title);
    font-size: 18px;
    text-transform: capitalize;
    padding: 10px 0;
}

.add_contact label{
    color: var(--gray-light);
    opacity: 0.7;
    font-size: 14px;
    padding: 8px 0;
}


/* =========================
   🔥 INPUT / TEXTAREA
========================= */
.add_contact input,
.add_contact textarea,
.add_contact select{
    width: 100%;
    padding: 10px 8px;
    font-size: 14px;

    border: 0.5px solid var(--boder_color);
    border-radius: 10px;

    background-color: var(--color_blu_premey);
    color: var(--gray-light);

    outline: none;
}

.add_contact textarea{
    min-height: 80px;
    resize: none;
}


/* =========================
   🔥 FORM LAYOUT
========================= */
.contact_form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/* =========================
   🔥 CHECKBOX
========================= */
.contact_is_guest{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}

.contact_is_guest input{
    width: 16px;
    height: 16px;
}


/* =========================
   🔥 BUTTONS
========================= */
.action_save{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.action_save button{
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.action_save button[type="submit"]{
    background-color: var(--blue_sky);
    color: var(--gray-light);
}

#cancelContact{
    background-color: #e74c3c;
    color: white;
}


/* =========================
   🔥 USER DROPDOWN
========================= */
.custom_user_select{
    position: relative;
}

.selected_user{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
    border: 0.5px solid var(--boder_color);
    border-radius: 10px;
    cursor: pointer;
}

.dropdown_user{
    position: absolute;
    top: 110%;
    left: 0;

    width: 100%;

    background: var(--blue_secondery);
    border: 0.5px solid var(--boder_color);
    border-radius: 10px;

    display: none;
    z-index: 2000;
}

.dropdown_user.active{
    display: block;
}

.user_option{
    padding: 10px;
    cursor: pointer;
}

.user_option:hover{
    background: rgba(255,255,255,0.05);
}

.input_search{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
}

.input_search input{
    border: none;
    background: transparent;
}



.custom_user_select{
    position: relative;
}

/* selected */
.selected_user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: var(--color_blu_premey);
    border: 0.5px solid var(--boder_color);
    border-radius: 8px;
    cursor: pointer;
}

/* dropdown */
.dropdown_user{
    position: absolute;
    top: 110%;
    width: 100%;
    background: var(--flat_blue);
    border: 0.5px solid var(--boder_color);
    border-radius: 10px;
    padding: 10px;
    display: none;
    z-index: 1000;
}

/* show */
.custom_user_select.active .dropdown_user{
    display: block;
}

/* option */
.user_option{
    padding: 8px;
    cursor: pointer;
    border-radius: 6px;
}

.user_option select{
    color: var(--gray-light);
}

.user_option:hover{
    background: rgba(255,255,255,0.05);
}

.selected_user span{
    color: var(--gray-light);
}


.btn_sub_reset {
    width: 100%;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.btn_sub_reset button{
    outline: none;
    border: none;
    padding: 10px 15px;
    color: var(--gray-light);
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
}

.btn_sub_reset button:nth-child(1){
    background: transparent;
    border: 1px solid var(--blue_purpo);
    border-radius: 10px;

}
.btn_sub_reset button:nth-child(2){
     background: var(--blue_purpo);
     border-radius: 8px;

}


/*============ price some======*/




.shipment_summary{
    background: var(--blue_secondery);
    border: 1px solid var(--boder_color);
    border-radius: 14px;
    padding: 20px;
}

/* header */
.summary_header{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.icon_box{
    width: 45px;
    height: 45px;
    background: linear-gradient(135deg, #6366f1, #8b5cf6);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: var(--White_Title);
    font-size: 20px;
}

.summary_title h3{
    color: var(--White_Title);
    font-size: 14px;
}

.summary_title p{
    color: var(--gray-light);
    font-size: 13px;
}

/* details */
.summary_details{
    margin: 15px 0;
}

.summary_details .row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.summary_details span{
    color: var(--gray-light);
    font-size: 13px;
}

.summary_details strong{
    color: var(--White_Title);
    font-size: 13px;
}

/* status */
.status_badge{
    background: rgba(34,197,94,0.2);
    color: #22c55e;
    padding: 3px 8px;
    border-radius: 6px;
    font-size: 12px;
}

/* footer */
.summary_footer{
    border-top: 1px solid var(--boder_color);
    margin-top: 15px;
    padding-top: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.summary_footer span{
    color: #a78bfa;
    font-weight: 400;
}

.summary_footer h2{
    color: #a78bfa;
}



.summary_actions{
    margin-top: 15px;
}

.btn_print{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;

    background: var(--blue_purpo);
    color: var(--White_Title);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    cursor: pointer;
    transition: 0.2s;
}

.btn_print:hover{
    transform: translateY(-2px);
    opacity: 0.9;
}


/* default (kache) */
.shipment_summary{
    max-height: 0;
    overflow: hidden;

    opacity: 0;
    transform: translateY(-10px);

    transition:
        max-height 0.4s ease,
        opacity 0.3s ease,
        transform 0.3s ease;
}

/* lè li parèt */
.shipment_summary.active{
    max-height: 500px; /* ase gwo pou content */
    opacity: 1;
    transform: translateY(0);
}



.dropdown_sender{
    display: none;
}

.dropdown_sender.active{
    display: block;
}












/* 🔥 OVERLAY */
.modal_overlay{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

/* hidden */
.hidden{
    display: none;
}

/* BOX */
.modal_box{
    background: #0f172a;
    width: 350px;
    border-radius: 12px;
    padding: 20px;
    animation: popup 0.25s ease;
}

/* animation */
@keyframes popup{
    from{
        transform: scale(0.9);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}

/* HEADER */
.modal_header{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #f87171;
}

.modal_header i{
    font-size: 22px;
}

/* BODY */
.modal_body{
    margin: 15px 0;
    color: #cbd5f5;
}

.modal_body small{
    color: #64748b;
}

/* FOOTER */
.modal_footer{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

/* BUTTONS */
.btn_cancel{
    padding: 8px 14px;
    background: #1e293b;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.btn_delete{
    padding: 8px 14px;
    background: #ef4444;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.btn_delete:hover{
    background: #dc2626;
}












/*=========shipment details========*/

.shipment-date p:nth-child(3){
    font-size: 12px;
    font-weight: 400;
}



.title_details{
    color: var(--gray_Title);
    font-size: 15px;
    font-weight: 500;
}

.head_text_detail {
    display: flex;
    padding: 20px 0;
    gap: 30px;
    align-items: center;
}

.head_text_detail h3{
    color: var(--White_Title);
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 400;
}

.head_text_detail button{
    background-color: var(--blue_secondery);
    outline: none;
    padding: 10px 15px;
    color: var(--White_Title);
    cursor: pointer;
    border: 1px solid var(--boder_color);
}

.top_shipment_box {

    display: flex;
    width: 100%;
    padding: 15px 20px;
    background-color: var(--blue_secondery);
    border: 0.5px solid var(--boder_color);
    border-radius: 10px;
    box-shadow: var(--shadow-sm);

}


.package_TRK {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    border-right: 1px solid var(--boder_color);

}

.package_TRK .icon{
  background-color: var(--blue_sky);
  padding: 20px;
  border-radius:10px;
  font-weight: 400;
  font-size: 40px;

}

.package_TRK p:nth-child(1){
    font-size: 24px;
    font-weight: 500;
    display: flex;
    padding: 5px 0;
    gap: 15px;
    align-items: center;
    color: var(--White_Title);
}

.package_TRK p:nth-child(1) span{
    font-size: 12px;
    display: flex;
    background-color: var(--green-bg);
    padding: 5px 8px;
    text-transform: capitalize;
    border-radius: 10px;
    color: var(--green-text);
}


.package_TRK p:nth-child(2){
    color: var(--White_Title);
    font-weight: 400;
    opacity:80%;
    font-size:15px;
    display: flex;
    padding-bottom: 3px;

}


.package_TRK p:nth-child(3){
    color: var(--White_Title);
    display: flex;
    align-items: center;
    gap: 10px;
    font-size:16px;
    padding: 3px 0;
}

.shipment-date {
    width: 35%;
    padding: 0 20px;
}

.shipment-date p{
    margin: 8px 0;
}

.shipment-date :nth-child(1){
    color: var(--White_Title);
    font-size: 15px;
    font-weight: 300;
}

.shipment-date :nth-child(2){
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--White_Title);
    font-weight: 500;
}

.shipment-date :nth-child(3){
    color: var(--White_Title);
    display: flex;
    align-items: center;
   gap: 10px;
   font-weight:300 ;
}



.shipement_left_details {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap:10px
}

.shipement_left_details .sender{
    width: 100%;
    background-color: var(--blue_secondery);
    padding: 20px;
    border-radius:10px;
    border:0.5px solid var(--boder_color)
}

.sender h4{
    color: var(--gray_Title);
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    gap: 10px;
    padding: 10px 0;
}

.sender h4 span{
    background-color: var(--blue-bg);
    padding: 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    display: flex;

}

.sender h4 span i{
    color: var(--blue-text);

}

.sender h3{
    color: var(--White_Title);
    display: flex;
   padding: 8px 0;
    font-weight: 500;
}

.sender p{
    color: var(--gray_Title);
    font-size: 14px;
    font-weight: 400;
    margin: 8px 0;
    display: flex;
    gap: 10px;
    line-height: 1.2;
}

.sender .row_details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sender .row_details span{
    color: var(--White_Title);
    font-size: 14px;
font-weight: 400;

line-height: 1.6;
}

.sender .row_details strong{
    color: var(--White_Title);
}


.delivered ,.pay_status{
    background-color: var(--green-bg);

    font-size: 12px;
    font-weight: 400;
    padding: 0px 15px;
    border-radius: 10px;

    color: var(--green-text);
    margin: 2px 0;

}





/*=========right shipment =====*/

.shipment_center_details{
    display: flex;
    gap: 20px;
    margin-top: 20px;

}

.shipement_righ_details {
    width: 60%;
    height: 100%;
}

.tracking_card{
    background: var(--blue_secondery);
    padding: 20px;
    border-radius:10px;
    border:0.5px solid var(--boder_color);
}

/* TITLE */
.tracking_title{
    color: var(--White_Title);
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 15px;
}

.tracking_title .icon{
    background: var(--blue-bg);
    padding: 10px;
    border-radius: 50%;
}

/* TIMELINE WRAPPER */
.tracking_timeline{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* ITEM */
.timeline_item{
    display: grid;
    grid-template-columns: 40px 1fr auto;
    align-items: flex-start;
    gap: 10px;
}

/* LEFT SIDE */
.timeline_left{
    position: relative;
    width: 40px;
    display: flex;
    justify-content: center;
}

/* DOT (DEFAULT = GREY) */
.dot{
    width: 20px;
    height: 20px;
    background: #444; /* default grey */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

/* ICON HIDDEN DEFAULT */
.dot i{
    color: #fff;
    font-size: 12px;
    display: none;
}

/* LINE DEFAULT = GREY */
.timeline_left::after{
    content: "";
    position: absolute;
    top: 22px;
    width: 2px;
    height: calc(100% + 30px);
    background: #444;
}

/* LAST ITEM (pa gen line anba) */
.timeline_item.last .timeline_left::after{
    display: none;
}

/* 🔥 ACTIVE STATE */
.timeline_item.active .dot{
    background: #2ecc71;
}

.timeline_item.active .dot i{
    display: block;
}

.timeline_item.active .timeline_left::after{
    background: #2ecc71;
}

/* CONTENT */
.timeline_content h5{
    color: var(--White_Title);
    font-size: 14px;
}

.timeline_content p{
    color: var(--gray_Title);
    font-size: 13px;
}

/* DATE */
.timeline_date{
    text-align: right;
}

.timeline_date p{
    color: var(--White_Title);
    font-size: 13px;
}

.timeline_date span{
    color: var(--gray_Title);
    font-size: 12px;
}




.action_buttons{
    display: flex;
    gap: 15px;
    margin-top: 20px;
    background-color: var(--blue_secondery);
    padding: 20px;
    border: 0.5px solid var(--boder_color);
    border-radius:10px;
}

/* BASE BUTTON */
.btn{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 18px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    transition: 0.3s;
}

/* OUTLINE BUTTON */
.btn-outline{
    background: transparent;
    border: 1px solid var(--boder_color);
    color: var(--White_Title);
}

.btn-outline:hover{
    background: rgba(255,255,255,0.05);
}

/* PRIMARY BUTTON */
.btn-primary{
    background: var(--blue_sky);
    color: #fff;
}

.btn-primary:hover{
    opacity: 0.9;
}

/*=======mesdia qery ====*/


.ship_info {
    display: flex;
    width: 100%;
}

.ship_info .shipment-date{
    width: 200px;
}

@media (max-width: 576px){
.top_shipment_box{
    display: flex;
    flex-wrap: wrap;
}

.package_TRK{
    border-right: none;
    border-bottom: 0.5px solid var(--boder_color);
    padding-bottom:10px ;
}
.package_TRK .icon{
    padding: 8px;
    font-size: 20px;
}

.all_details p:nth-child(1){
    font-size: 20px;
}

.ship_info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ship_info .shipment-date{
    flex-wrap: nowrap;
    width: 100%;


}

.shipment_center_details{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    flex-direction: column;

}

.shipement_left_details {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    gap:10px
}

.shipement_left_details{
    width: 100%;
}

.shipement_righ_details {
    width: 100%;

}

.shipement_righ_details .sender{
    width: 100%;
}




}


@media (max-width: 992px){

    .top_shipment_box{
    display: flex;
    flex-wrap: wrap;
}

.package_TRK{
    border-right: none;
    border-bottom: 0.5px solid var(--boder_color);
    padding-bottom:10px ;
}
.package_TRK .icon{
    padding: 8px;
    font-size: 20px;
}

.all_details p:nth-child(1){
    font-size: 20px;
}

.ship_info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ship_info .shipment-date{
    flex-wrap: nowrap;
    width: 100%;


}

.shipment_center_details{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    flex-direction: column;

}

.shipement_left_details {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap:10px
}

.shipement_left_details{
    width: 100%;
}

.shipement_righ_details {
    width: 100%;

}

.shipement_righ_details .sender{
    width: 100%;
}



}




@media (max-width: 1024px){

          .top_shipment_box{
    display: flex;
    flex-wrap: wrap;
}

.package_TRK{
    border-right: none;
    border-bottom: 0.5px solid var(--boder_color);
    padding-bottom:10px ;
}
.package_TRK .icon{
    padding: 8px;
    font-size: 20px;
}

.all_details p:nth-child(1){
    font-size: 20px;
}

.ship_info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ship_info .shipment-date{
    flex-wrap: nowrap;
    width: 100%;


}

.shipment_center_details{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    flex-direction: column;

}

.shipement_left_details {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap:10px
}

.shipement_left_details{
    width: 100%;
}

.shipement_righ_details {
    width: 100%;

}

.shipement_righ_details .sender{
    width: 100%;
}

}


@media (max-width: 778px){

        .top_shipment_box{
    display: flex;
    flex-wrap: wrap;
}

.package_TRK{
    border-right: none;
    border-bottom: 0.5px solid var(--boder_color);
    padding-bottom:10px ;
}
.package_TRK .icon{
    padding: 8px;
    font-size: 20px;
}

.all_details p:nth-child(1){
    font-size: 20px;
}

.ship_info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ship_info .shipment-date{
    flex-wrap: nowrap;
    width: 100%;


}

.shipment_center_details{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    flex-direction: column;

}

.shipement_left_details {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    gap:10px
}

.shipement_left_details{
    width: 100%;
}

.shipement_righ_details {
    width: 100%;

}

.shipement_righ_details .sender{
    width: 100%;
}


}




/*===== switch add ======*/




.payment_toggle {
    display: flex;
    align-items: center;
    gap: 10px;
}

.label_text {
    font-size: 13px;
    color: #aaa;
}

.label_text.paid {
    color: #2ecc71;
}

.switch {
    position: relative;
    width: 50px;
    height: 26px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    background: #444;
    border-radius: 50px;
    top: 0; left: 0; right: 0; bottom: 0;
    cursor: pointer;
    transition: 0.3s;
}

.slider::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: 3px;
    bottom: 3px;
    background: white;
    border-radius: 50%;
    transition: 0.3s;
}

input:checked + .slider {
    background: #2ecc71;
}

input:checked + .slider::before {
    transform: translateX(24px);
}



/*=======modal category warehouse ectt.....*/




/* =========================
   SIMPLE MODAL
========================= */

.warehouse_modal{

    position:fixed;
    inset:0;

    background:rgba(0,0,0,0.55);

    display:none;

    align-items:center;
    justify-content:center;

    z-index:999999;

    padding:20px;

}


/* SHOW */
.warehouse_modal.show{

    display:flex;

}


/* MODAL BOX */
.warehouse_modal_content{

    width:100%;
    max-width:800px;

    max-height:90vh;

    overflow-y:auto;

    background:#12182B;

    border-radius:18px;

    padding:25px;

    position:relative;

    animation:modalShow .25s ease;

}


/* ANIMATION */
@keyframes modalShow{

    from{

        opacity:0;
        transform:scale(.95);

    }

    to{

        opacity:1;
        transform:scale(1);

    }

}


/* CLOSE BTN */
.close_modal{

    position:absolute;

    top:15px;
    right:15px;

    cursor:pointer;

    font-size:24px;

    z-index:10;

}


/* RESPONSIVE */
@media(max-width:768px){

    .warehouse_modal_content{

        padding:18px;
        border-radius:14px;

    }

}



    .warehouse_modal{

    display:none;

}



.warehouse_modal.show{

    display:flex;

    opacity:1;
    visibility:visible;

}


/*======= contact list areal copde ==*/

/* =====================================
   PHONE INPUT DROPDOWN
===================================== */

.iti{

    width: 100%;

}


.iti input{

    width: 100%;

}


.iti__country-list{

    background: #111827;

    border: 1px solid #334155;

    border-radius: 10px;

    color: #fff;

    margin-top: 8px;

}


.iti__country{

    padding: 10px 12px;

    color: #fff;

    font-size: 14px;

    transition: 0.2s;

}


.iti__country:hover{

    background: #1e293b;

}


.iti__highlight{

    background: #1e293b !important;

}


.iti__dial-code{

    color: #94a3b8;

}


.iti__selected-flag{

    padding: 0 12px;

    background: transparent;

}


.iti__selected-dial-code{

    color: #fff;

    font-size: 14px;

}







/*======= kyc Verification dashboard ======*/

.kyc-verify-grid{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.KYC_verifications p{
    color: var(--White_Title);
    font-size: 14px;
    padding: 3px 0;
    font-weight: 400;
    text-transform: capitalize;
    opacity: 80%;
}

.KYC_verifications h3{
   color: var(--White_Title);
   font-size: 24px;
   display: flex;
   padding: 8px 0;
}

.kyc-information {
    width: 100%;
    padding: 30px;
    background-color: var(--blue_secondery);
    border-radius:10px;
    border: 0.5px solid var(--boder_color);
    box-shadow: var(--shadow-sm);

}

.kyc-information p:nth-child(1){
    opacity: 100%;
    font-size: 18px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}

.kyc-information p:nth-child(1) i{
    color: var(--blue_sky);
}

.Initial_KYC {
   padding: 15px 0;
    display: flex;
    align-items: center;
    gap: 20px;

    border: 0.5px solid var(--color_blu_premey);
}

.Initial_KYC .Init-user {
    width: 60px;
    height: 60px;
    background-color: var(--blue_sky);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--White_Title);
    font-weight: 600;
    font-size: 18px;

}

.info-initial p:nth-child(1){
    font-size: 20px;
    display: flex;
    padding:5px 0;

}

.info_boutom_users {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    gap: 15px;
}

.info_users {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info_users  span , strong{
    color: var(--White_Title);
    opacity: 90%;
    font-size: 16px;
    font-weight: 300;
}




/*======= kyc-verify-header ======*/


.kyc-verify-header {
    display: flex;
    gap: 15px;

}



.button-submit {
    display: flex;
    gap: 10px;
    padding: 10px 0;
}

.button-submit button:nth-child(1){
    width: 100%;
    background: var(--green-bg);
    border: 2px solid var(--green-premery);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: var(--green-text);
    cursor: pointer;
    padding: 10px 15px;
}

.button-submit button:nth-child(1) i{
    color: var(--green-text);
}

.button-submit button:nth-child(2){
    width: 100%;
    background: var(--red-bg);
    border: 2px solid var(--red-text);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: var(--red-text);
    cursor: pointer;
    padding: 10px 15px;
}

.button-submit button:nth-child(2) i{
    color: var(--red-text);
}

.kyc-information h4{
    color: var(--White_Title);
    font-weight: 400;
    font-size: 14px;
}

.kyc-information textarea{
    width: 100%;
    background-color: var(--color_blu_premey);
    border: 0.3px solid var();
    border-radius: 10px;
    height: auto;
    margin: 10px 0;
    max-height: 70px;
    padding: 10px;
    color: var(--White_Title);
}

.submit-decision button {
    width: 100%;
    padding: 10px 15px;
    background-color: var(--blue_sky);
    color: var(--White_Title);
    font-size: 16px;
    border: none;
    border-radius: 10px;
    font-weight: 400;
    text-transform: capitalize;
    cursor: pointer;
}


/* =========================
BUTTON SUBMIT
========================= */

.button-submit{

    width:100%;

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:10px;

    margin-top:0px;


}



/* CARD */

.decision-card{

    position:relative;

    border:1px solid
    rgba(255,255,255,.08);

    background:#101935;

    border-radius:10px;

    padding:10px;

    cursor:pointer;

    transition:.3s;

}



/* HIDE RADIO */

.decision-card input{
    display:none;
}



/* CONTENT */

.decision-content{

    display:flex;

    align-items:center;

    gap:10px;

}



/* CHECK ICON */

.check-icon{

    width:25px;
    height:25px;

    border-radius:16px;

    border:2px solid
    rgba(255,255,255,.2);

    display:flex;

    align-items:center;

    justify-content:center;

    flex-shrink:0;

    transition:.3s;

}



.check-icon i{

    font-size:20px;

    color:#fff;

}



/* TEXT */

.decision-text h4{

    color:#fff;

    font-size:14px;

    font-weight:400;

}



.decision-text p{

    color:#9CA3AF;

    margin-top:6px;

    font-size:12px;

}



/* APPROVE ACTIVE */

.approve:has(input:checked){

    border-color:#22C55E;

    background:
    rgba(34,197,94,.08);

}



.approve:has(input:checked)
.check-icon{

    background:#2563EB;

    border-color:#2563EB;

}



.approve:has(input:checked)
.decision-text h4{

    color:#22C55E;

}



/* REJECT ACTIVE */

.reject:has(input:checked){

    border-color:#EF4444;

    background:
    rgba(239,68,68,.08);

}



.reject:has(input:checked)
.check-icon{

    border-color:#fff;

}



.reject:has(input:checked)
.decision-text h4{

    color:#EF4444;

}
.from-image{

    width:100%;

    height:370px;

    border-radius:10px;

    border:0.5px solid
    var(--blue_secondery);

    background-color:
    var(--blue_secondery);

    display:flex;

    flex-direction:column;

    padding:10px;

    gap:10px;

}



/* IMAGE BOX */

.image-front{

    width:100%;

    height:100%;

    display:flex;

    align-items:center;

    justify-content:center;

    overflow:hidden;

    border-radius:10px;

    background:#0f172a;

}



/* IMAGE */

.from-image img{

    width:100%;

    height:100%;

    object-fit:contain;

    display:block;

}

.from-image  p{
    display: flex;
    padding: 10px;
    font-size: 18px;
    align-items: center;
    gap: 10px;
}

.kyc-photos-doc {
    display: flex;
    gap: 15px;
}


/*====== MEDIA KYC CLIENT ====*/

@media(max-width:600px){

    .kyc-verify-header {
    display: flex;
    gap: 15px;
    flex-direction: column;

}

.kyc-photos-doc{
    flex-direction: column;
}

}


@media(max-width:992px){

    .kyc-verify-header {
    display: flex;
    gap: 15px;
    flex-direction: column;

}

.kyc-photos-doc{
    flex-direction: column;
}

}

@media(max-width:1200px){

        .kyc-verify-header {
    display: flex;
    gap: 15px;
    flex-direction: column;

}

.kyc-photos-doc{
    flex-direction: column;
}

}

/*===== notifikasyon kyc =====*/



.notice-kyc {
color: var(--Orange_premery);


}

.nav-items {
    display: flex;
    flex-wrap: nowrap;
}




.Package-Details{

    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap:20px;

}


/* Tablet */
@media(max-width:992px){

    .Package-Details{

        grid-template-columns:repeat(3, 1fr);

    }

}


/* Telephone */
@media(max-width:600px){

    .Package-Details{

        grid-template-columns:2fr;

    }

}