
{% extends 'base.html' %}
{% load i18n %}
{% load static %}


{% block title %} About {% endblock %}


{% block manu_nav %}
			<!-- breadcumb Section-->
			<div class="breadcumb-area">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-12 text-center">
							<div class="breadcumb-content">
								<div class="breadcumb-title">
									<h4>{% trans 'About Us' %}</h4>
								</div>
								<ul>
									<li><a href="{% url 'home' %}">{% trans 'home' %}</a></li>
									<li>{% trans 'About Us' %}</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--breadcumb Section-->


			<!-- About Section home2 -->
			<section class="about-section-home2 inner">
				<div class="auto-container">
					<div class="row">
						<div class="col-lg-6">
							<div class="sec-title">
								<div class="section-sub-title">
									<h1 class="sub-title"><img src="{% static 'images/main-home/sub-title-icon.png' %}"
											alt="sub-icon">{% trans 'About Us' %}</h1>
								</div>
								<div class="section-title">
									<h1 class="title title-anim">{% trans 'Reliable Freight & Logistics' %}</h1>
<h1 class="title title-anim">{% trans 'Between the U.S. and Haiti' %}</h1>
								</div>
							</div>
							<div class="about-thumb">
								<figure class="reveal"><img src="{% static './images/Cargomages/about second.png' %}" alt="about thumb">
								</figure>
							</div>
						</div>
						<div class="col-lg-6">
							<!--about counter-->
							<div class="about-counter-wrapper">
								<div class="about-counter">
								<h2 class="about_counter" style="color:#fff;">10k</h2>
								<span>+</span>
								<p>{% trans 'Shipments Delivered Successfully' %}</p>
							</div>

							<div class="about-counter two">
								<h2 class="about_counter" style="color:#fff;">98</h2>
								<span>%</span>
								<p>{% trans 'Customer Satisfaction Rate' %}</p>
							</div>
							</div>
							<div class="about-item-box">
							<div class="single-about-box fade-in">
								<div class="about-wrap">
									<div class="about-icon">
										<img src="{% static 'images/home2/about-icon1.png' %}" alt="icon">
									</div>
									<div class="title">
    <h2>{% trans 'Reliable Freight Services' %}</h2>
</div>

</div>

<div class="about-desc">

    <p>
        {% trans 'We offer reliable air and sea freight solutions with secure handling, fast delivery, and trusted logistics services between the USA, Haiti, and the Dominican Republic.' %}
    </p>

</div>
							</div>

							<div class="single-about-box two fade-in">
								<div class="about-wrap">
									<div class="about-icon">
										<img src="{% static 'images/home2/about-icon2.png'%}" alt="icon">
									</div>
									<div class="title">
    <h2>24/7 {% trans 'Customer Support' %}</h2>
</div>

</div>

<div class="about-desc">

    <p>
        {% trans 'Our support team is always ready to assist you with shipment tracking, delivery updates, and any questions to ensure a smooth and stress-free shipping experience.' %}
    </p>

</div>
							</div>

							<div class="about-info-box fade-in">
								<div class="about-btn">
									<a>{% trans 'More About Us' %}<i class="fa-solid fa-arrow-right"></i></a>
								</div>
								<div class="about-call-info">
									<h2 class="call-text">{% trans 'Call Us now' %}</h2>
									<h3 class="call-number">+1 (682)215 6480</h3>
								</div>
							</div>
						</div>
						</div>
					</div>
				</div>
			</section>
			<!--About Section home2 -->




<!-- work process section one -->
<section class="work-process-section-one">
    <div class="auto-container">
        <div class="row">
            <div class="col-lg-12">
                <div class="sec-title text-center">
                    <div class="section-sub-title">
                        <h1 class="sub-title"><img src="{% static 'images/main-home/sub-title-icon.png' %}"
                                alt="sub-icon">{% trans 'Working Process' %}</h1>
                    </div>
                    <div class="section-title">
                        <h1 class="title text-white text-anime-3">{% trans 'Simple, Fast & Reliable' %}</h1>
                        <h1 class="title text-white text-anime-3">{% trans 'Shipping Process' %}</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="working-process-box first before-transprent after-transprent fade-in">
                    <div class="process-icon">
                        <img src="{% static 'images/main-home/process-icon.png' %}" alt="icon">
                    </div>
                    <div class="process-content">
                        <h2>{% trans 'Request & Booking' %}</h2>
                        <p>
                         {% blocktrans %}
Submit your shipment details and receive a clear quote.
Our team ensures a smooth and transparent booking process.
{% endblocktrans %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="working-process-box after-transprent fade-in">
                    <div class="process-icon">
                        <img src="{% static 'images/main-home/process-icon2.png' %}" alt="icon">
                    </div>
                    <div class="process-content">
                        <h2>{% trans 'Processing & Shipping' %}</h2>
                        <p>
                            {% blocktrans %}
We carefully handle, pack, and ship your cargo using reliable
sea and air freight solutions with real-time updates.
{% endblocktrans %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="working-process-box first before-transprent fade-in">
                    <div class="process-icon">
                        <img src="{% static 'images/main-home/process-icon3.png' %}" alt="icon">
                    </div>
                    <div class="process-content">
                        <h2>{% trans 'Delivery & Confirmation' %}</h2>
                        <p>
                           {% blocktrans %}
Your shipment is delivered safely to its destination,
with confirmation and full customer satisfaction.
{% endblocktrans %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="work-process-shape1">
            <img src="{% static 'images/main-home/process-shape1.png' %}" alt="shape1">
        </div>
        <div class="work-process-shape2">
            <img src="{% static 'images/main-home/process-shape2.png' %}" alt="shape2">
        </div>
    </div>
</section>
<!-- work process section one -->


<!-- marquee section classic -->
		<div class="marquee-section-one classic">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="marquee">
							<div class="marquee-block">
								<h3><span><img src="{% static 'images/main-home/marque-icon.png' %}" alt="icon"></span>GLOBAL SHIPPING
								</h3>
								<h3><span><img src="{% static 'images/main-home/marque-icon2.png' %}" alt="icon"></span>CARGO SERVICES
								</h3>
								<h3><span><img src="{% static 'images/main-home/marque-icon3.png' %}" alt="icon"></span>FAST DELIVERY
								</h3>
								<h3><span><img src="{% static 'images/main-home/marque-icon4.png' %}" alt="icon"></span>SUPPLY CHAIN
								</h3>
								<h3><span><img src="{% static 'images/main-home/marque-icon5.png' %}" alt="icon"></span>WAREHOUSING
								</h3>
							</div>
								<div class="marquee-block">
								<h3><span><img src="{% static 'images/main-home/marque-icon.png' %}" alt="icon"></span>GLOBAL SHIPPING
								</h3>
								<h3><span><img src="{% static 'images/main-home/marque-icon2.png' %}" alt="icon"></span>CARGO SERVICES
								</h3>.
								<h3><span><img src="{% static 'images/main-home/marque-icon3.png' %}" alt="icon"></span>FAST DELIVERY
								</h3>
								<h3><span><img src="{% static 'images/main-home/marque-icon4.png' %}" alt="icon"></span>SUPPLY CHAIN
								</h3>
								<h3><span><img src="{% static 'images/main-home/marque-icon5.png' %}" alt="icon"></span>WAREHOUSING
								</h3>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
<!-- marquee section one -->



<script>

/* =========================================
ABOUT COUNTERS
========================================= */

const aboutCounters =
document.querySelectorAll(
    ".about_counter"
);



const animateAboutCounter = (counter) => {

    // =====================================
    // GET FINAL VALUE
    // =====================================

    let targetText =
    counter.innerText
    .toLowerCase()
    .trim();


    let hasK =
    targetText.includes("k");

    let target =
    parseInt(targetText);



    // =====================================
    // START
    // =====================================

    let count = 0;

    const speed =
    target / 100;



    const updateCounter = () => {

        if(count < target){

            count += speed;



            // 10K+
            if(hasK){

                counter.innerText =
                Math.ceil(count) + "K";

            }else{

                counter.innerText =
                Math.ceil(count);

            }



            requestAnimationFrame(
                updateCounter
            );

        }else{

            // FINAL VALUE
            if(hasK){

                counter.innerText =
                target + "K";

            }else{

                counter.innerText =
                target;

            }

        }

    };



    updateCounter();

};



/* =========================================
SCROLL EFFECT
========================================= */

const aboutObserver =
new IntersectionObserver((entries) => {

    entries.forEach(entry => {

        if(entry.isIntersecting){

            animateAboutCounter(
                entry.target
            );

            aboutObserver.unobserve(
                entry.target
            );

        }

    });

}, {

    threshold:0.5

});



aboutCounters.forEach(counter => {

    aboutObserver.observe(
        counter
    );

});

</script>

{% endblock %}





