{% load static %}

{% load i18n %}
   <div class="logo">
       <img src="{% static './images/Cargomages/logo_simple.png' %}" alt="">

       <h2> Cap shipping <span>distribution</span></h2>
    <i class='bx bx-menu-alt-right' id="closeMenu"></i>

    </div>

    <div class="nav_links">
        <ul>

            <!-- Dashboard -->
            <li class="active nav-item"   onclick="window.location.href='/panel/dashboard/'">
                <i class='bx bxs-dashboard'></i>
                <span>{% trans 'Dashboard' %}</span>
            </li>

            <!-- Shipments -->
            <li class="dwop_users">

                <div class="dropdown_header">
                    <i class='bx bx-signal-5'></i>
                    <span>{% trans 'Shipements' %}</span>
                    <i class='bx bx-chevron-down'></i>
                </div>

                <ul>
                   <li class="nav-item" data-url="/panel/shipments/">
    <i class='bx bx-package'></i>
    {% trans 'All Shipements' %}
</li>
                   <li class="nav-item" data-url="/panel/add-shipments/"><i class='bx bx-plus'></i> {% trans 'Add Shipment' %}</li>

                </ul>

            </li>

            <!-- Users -->
            <li class="dwop_users">

                <div class="dropdown_header">
                    <i class='bx bxs-user-detail'></i>
                    <span>{% trans 'Accounts' %}</span>
                    <i class='bx bx-chevron-down'></i>
                </div>

                <ul>
                     <li class="nav-item" data-url="/panel/users/"><i class='bx bx-group'></i>{% trans 'All Users' %}</li>
                    <li class="nav-item" data-url="/panel/add-user/"><i class='bx bx-user-plus'></i> {% trans 'Add User' %}</li>

                </ul>

            </li>



            <!-- MANAGEMENT -->
<li class="dwop_users active">

    <div class="dropdown_header">

        <i class='bx bx-cog'></i>

        <span>
            {% trans 'Management' %}
        </span>

        <i class='bx bx-chevron-down'></i>

    </div>



    <ul>


          <!-- Others -->
            <li class="nav-item" data-url="/panel/warehouses/">
                <i class='bx bx-building-house'></i>
                <span>{% trans 'Warehouses' %}</span>
            </li>

        <!-- CATEGORY -->
        <li class="nav-item"
            data-url="/panel/categories/">

            <i class='bx bx-category-alt'></i>

            {% trans 'Categories' %}

        </li>



        <!-- CONTACTS -->
        <li class="nav-item"
    data-url="/panel/contacts/">

    <i class='bx bxs-phone-incoming'></i>

    <span>

        {% trans 'Contacts' %}

    </span>

</li>



        <!-- PRICING -->
        <li class="nav-item"
    data-url="/panel/pricing-rules/">

    <i class='bx bxs-purchase-tag'></i>

    <span>

        {% trans 'Pricing Rules' %}

    </span>

</li>



        <!-- ROUTE PRICING -->
       <li class="nav-item"
    data-url="/panel/route-pricings/">

    <i class='bx bx-transfer'></i>

    <span>

        {% trans 'Route Pricings' %}

    </span>

</li>


        <li class="nav-item nav-items"
    data-url="/panel/kyc-management/">

    <i class='bx bx-check-shield'></i>

    <span \>

        {% trans 'KYC Users' %} <span class="notice-kyc"></span>

    </span>

</li>


    </ul>

</li>


<li class="nav-item" data-url="/panel/calculator/">
    <i class='bx bx-calculator'></i>
    <span>{% trans 'Calculator' %}</span>
</li>

            <li class="nav-item" data-url="/panel/tracking-updates/">
                <i class='bx bx-map-pin'></i>
                <span>{% trans 'Tracking Update' %}</span>
            </li>


           <li class="nav-item"
    data-url="/panel/settings/">

    <i class='bx bxs-cog'></i>

    <span>{% trans 'Settings' %}</span>

</li>

        </ul>

        <!-- USER -->
        <div class="user_botton user_botton_side">
            <div class="user_head">
                <span class="INT">
                    {% if user.first_name %}
                        {{ user.first_name|slice:":1"|upper }}{{ user.last_name|slice:":1"|upper }}
                    {% else %}
                        {{ user.email|slice:":2"|upper }}
                    {% endif %}
                </span>
                <div class="mail_user">
                    <span>
                            {% if user.is_superuser %}
                                {% trans 'Admin User' %}
                            {% elif user.is_staff %}
                                {% trans 'Staff User' %}
                            {% else %}
                                {% trans 'Customer' %}
                            {% endif %}
                        </span>
                    <p>{{ user.email }}</p>
                </div>
            </div>
        </div>

    </div>

