
<div class="menu_bar_nav">

<div class="search_menu">

    <i class='bx bx-menu' id="menuBtn"></i>
<div class="search_bar">


    <i class='bx bx-search'></i>
    <input type="search" placeholder="search....">

</div>

<div class="right_details">
    <div class="languages">
    <i class='bx bx-globe'></i>
    </div>

    <div class="light-dark">
    <i id="themeIcon" class='bx bxs-brightness-half'></i>
</div>

    <div class="notifications">
        <i class='bx bx-bell' ></i>
    </div>
 <div class="user_botton">

    <!-- OU PA CHANJE DESIGN OU -->
    <div class="user_head user_toggle" id="userToggle">
        <span class="INT">
                    {% if user.first_name %}
                        {{ user.first_name|slice:":1"|upper }}{{ user.last_name|slice:":1"|upper }}
                    {% else %}
                        {{ user.email|slice:":2"|upper }}
                    {% endif %}
                </span>
                <div class="mail_user">
                    <span>
                            {% if user.is_superuser %}
                                Admin User
                            {% elif user.is_staff %}
                                Staff User
                            {% else %}
                                Customer
                            {% endif %}
                        </span>
                    <p>{{ user.email }}</p>
        </div>
    </div>

    <!-- DROPDOWN -->
    <div class="user_dropdown" id="userDropdown">

        <!-- HEADER -->
        <div class="dropdown_header">



        </div>

        <div class="dropdown_divider"></div>

        <!-- ITEMS -->
        <div class="dropdown_item">
            <i class='bx bx-user'></i>
            <span>Your Profile</span>
        </div>

        <div class="dropdown_item">
            <i class='bx bx-cog'></i>
            <span>Settings</span>
        </div>

        <div class="dropdown_divider"></div>

       <div class="dropdown_item logout" id="logoutBtn" data-url="{% url 'logout' %}">
    <i class='bx bx-log-out'></i>
    <span>Sign out</span>
</div>

    </div>

</div>

</div>

</div>


</div>