




<section class="dashboard_add_user">

<form id="addUserForm"
      data-mode="{{ mode }}"
      data-user-id="{{ user.id|default:'' }}">

   <div class="head_page">

    <h2>
        {% if mode == 'edit' %}
            Edit user
        {% else %}
            Add new user
        {% endif %}
    </h2>

    <p>
        user >
        {% if mode == 'edit' %}
            edit user
        {% else %}
            add new user
        {% endif %}
    </p>

</div>

    <div class="grid_layout">

         <!-- LEFT -->

        <div class="left_content_add">


          <div class="user_information">

            <!-- USER INFO -->

            <h3> User information </h3>

            <label > email </label>

 <input type="email"
       name="email"
       placeholder="enter email address"
       id="email_user"
       value="{% if mode == 'edit' %}{{ user.email }}{% endif %}">


            <div class="fist_lastname">

                <div class="fist_name">

                <label >first name </label>
<input type="text"
       name="first_name"
       placeholder="e.g jacky"
       value="{% if mode == 'edit' %}{{ user.first_name }}{% endif %}">

                </div>


                <div class="last_name">

                <label >last name </label>
               <input type="text"
       name="last_name"
       placeholder="e.g jacky"
       value="{% if mode == 'edit' %}{{ user.last_name }}{% endif %}">


                </div>

            </div>

            <div class="phone_and_role">

                <div class="phone_number">
                    <label>Phone Number</label>


                       <input id="phone"
       type="tel"
       placeholder="689 217 2237"
       name="phone_number"
       value="{% if mode == 'edit' %}{{ user.phone_number }}{% endif %}"
       required>



                </div>
                <div class="role">

                <label >role </label>

<select name="role" id="role">
    <option value="">Select role</option>

    {% for value, label in roles %}
        <option value="{{ value }}" {% if user and user.role == value %}selected{% endif %}>
            {{ label }}
        </option>
    {% endfor %}
</select>

                </div>

            </div>

                </div>

            <div class="address_information">


                <!-- Address information -->


                <h3>Address information</h3>
                        <div class="countr_state_city">

                            <div class="country">
                <label>country</label>

                {% if mode == "edit" %}
                    <input type="text" name="country" value="{{ user.country }}" >
                {% else %}
                    <select name="country" id="country">
                        <option value="" disabled selected hidden>Select Country</option>
                    </select>
                {% endif %}
            </div>

                <div class="state">
                <label>state / province</label>

                {% if mode == "edit" %}
                    <input type="text" name="state" value="{{ user.state }}" >
                {% else %}
                    <select name="state" id="state">
                        <option value="">State / Region</option>
                    </select>
                {% endif %}
            </div>

                <div class="city">
                    <label>city</label>

                    {% if mode == "edit" %}
                        <input type="text" name="city" value="{{ user.city }}" >
                    {% else %}
                        <select name="city" id="city">
                            <option value="">Select your city</option>
                        </select>
                    {% endif %}
                </div>

                </div>

                <div class="full_address">

                    <label > full address</label>

                    <textarea name="full_address" id="full_address" placeholder="enter full address">{% if mode == 'edit' %}{{ user.full_address }}{% endif %}</textarea>
                </div>


            </div>

        <div class="warehouse_info">

            <!-- warehouse information -->

            <h3>warehouse information</h3>

            <div class="pickup_staff">

            <div class="pickup">
                <label >Default pickup warehouse</label>

            <select name="default_pickup_warehouse" id="default_pickup_warehouse">
    <option value="">default pickup warehouse</option>

    {% for w in warehouses %}
        <option value="{{ w.id }}"
        {% if user and user.default_pickup_warehouse and user.default_pickup_warehouse.id == w.id %}selected{% endif %}>
            {{ w.name }} - {{ w.city }}
        </option>
    {% endfor %}
</select>

            </div>

            <div class="staff_warehouse">
                <label >staff warehouse ( for staff users)</label>

               <select name="staff_warehouse">
    <option value="">select staff warehouse (optional)</option>

    {% for w in warehouses %}
        <option value="{{ w.id }}"
        {% if user and user.staff_warehouse and user.staff_warehouse.id == w.id %}selected{% endif %}>
            {{ w.name }} - {{ w.city }}
        </option>
    {% endfor %}
</select>
            </div>

            </div>

        </div>


        <div class="password_confirm_par">
            <!-- password -->

            <h3>Account Security </h3>
            <div class="password_confirm">

            <div class="password">
            <label>Password *</label>
            <input type="password"
                   name="password"
                   placeholder="{% if mode == 'edit' %}Leave blank to keep current password{% else %}Enter password{% endif %}"
                   {% if mode != 'edit' %}required{% endif %}>
        </div>



            <div class="confirm_password">
                <label>Confirm password *</label>
                <input type="password"
                       name="confirm_password"
                       placeholder="{% if mode == 'edit' %}Confirm password{% else %}Confirm password{% endif %}"
                       {% if mode != 'edit' %}required{% endif %}>
            </div>

            </div>

        </div>





<div class="send_welcome">
    <input type="checkbox" name="welcome_sms">

    <span>send welcome email to user</span>
</div>
    </div>


     <!-- right -->

        <div class="right_content_add">


            <div id="alertBox" class="alert hidden">
            <div class="alert_content">
                <i id="alertIcon" class='bx bx-check-circle'></i>
                <span id="alertMessage">Message here</span>
            </div>

            <i class='bx bx-x close_alert' id="closeAlert"></i>
        </div>



            <div class="action">
    <span>Action</span>

    <!-- SAVE / UPDATE -->
    <button type="submit" id="save_user" class="save_user">
        <i class='bx bx-save'></i>
        {% if mode == 'edit' %}
            Update user
        {% else %}
            Save user
        {% endif %}
    </button>

    <!-- CANCEL -->
    <button type="button" id="cancel_process" class="cancel_process">
        <i class='bx bx-x'></i> Cancel
    </button>
</div>

            <div class="account_status">
                <h3>account status </h3>

                    <div class="status_check">


            <label class="switch">
    <input type="checkbox" name="status" id="status"
    {% if mode != 'edit' or user.is_active %}checked{% endif %}>
    <span class="slider"></span>
</label>

            <span id="statusText">Active</span>
        </div>

            </div>

            <div class="informations">
                <div class="warning">
                <i class='bx bx-info-circle'></i> <h4>information</h4>
                </div>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nesciunt placeat a consectetur totam </p>
            </div>


        </div>

        </div>


</form>

</section>
