
<section class="shipmnents_details">

    <div class="title_details">
        <p>Shipments / Details</p>

    </div>


    <div class="head_text_detail">
        <h3>Shipment Details</h3>

        <button class="back_to_shipments">
           <i class='bx bx-arrow-back'></i> Back to shipments
        </button>
    </div>


    <div class="main_shipment_boxes">


        <!-------------top box shipment -------->

        <div class="top_shipment_box">

             <!-------------TRK PKG_ID -------->
            <div class="package_TRK">
                <span class="icon">
                    <i class='bx bx-package'></i>
                </span>

                <div class="all_details">
                    <p>PKG-0001 <span>delivered</span></p>
                    <p>Tracking Number</p>
                    <p>CSD2498257 <span><i class='bx bx-copy'></i></span></p>
                </div>

            </div>

            <!-------------shipment date  -------->


<div class="ship_info">

            <div class="shipment-date">

                <p>Shipment date</p>
                <p><span><i class='bx bx-calendar-minus'></i></span>may, 20 2026</p>
                <p>10:30AM</p>

            </div>

            <div class="shipment-date">

                <p>Created by</p>
                <p><span><i class='bx bxs-user'></i></span> Chrislor Pierre</p>
                <p>pchrislor2001@gmail.com</p>

            </div>

            <div class="shipment-date">

                <p>Created by</p>
                <p><span><i class='bx bx-alarm-exclamation'></i></span>may 25,2026</p>
                <p>10:30AM</p>

            </div>



            </div>



        </div>




    </div>






<div class="shipment_center_details">

    <!---------shipement_left_details-->

    <div class="shipement_left_details">

        <div class="sender">
            <h4><span><i class='bx bxs-user'></i></span> sender</h4>

            <h3> Jean Claude</h3>
            <p><span><i class='bx bxs-phone'></i></span> +509 47787435</p>
            <p><span><i class='bx bx-envelope'></i></span> infochrislor@gmail.com</p>
            <p><span><i class='bx bx-map'></i></span> 1125 orell avenue 32089 , 5423 <br> USA Orlando FL</p>
        </div>


        <div class="sender">
            <h4><span><i class='bx bxs-user'></i></span> Receiver </h4>

            <h3> Chrislor Pierre</h3>
            <p><span><i class='bx bxs-phone'></i></span> +509 47787435</p>
            <p><span><i class='bx bx-envelope'></i></span> infochrislor@gmail.com</p>
            <p><span><i class='bx bx-map'></i></span> 1125 orell avenue 32089 , 5423 <br> USA Orlando FL</p>
        </div>


         <div class="origine_warehouse sender">
           <h4><span><i class='bx bx-building-house'></i></span> Origin Warehouse </h4>

            <h3> Orlando FL, Warehouse</h3>
            <p><span><i class='bx bx-map'></i></span> 1125 orell avenue 32089 , 5423 <br> USA Orlando FL</p>
            <p><span><i class='bx bxs-phone'></i></span> +509 47787435</p>
        </div>

        <div class="origine_warehouse sender">
            <h4><span><i class='bx bx-map'></i></span> Destination Warehouse </h4>

            <h3> P-au-p Delma, Warehouse</h3>
            <p><span><i class='bx bx-map'></i></span> 1125 orell avenue 32089 , 5423 <br> USA Orlando FL</p>
            <p><span><i class='bx bxs-phone'></i></span> +509 47787435</p>
        </div>



        <!------package informations -->


 <div class="package_information sender">

<h4><span><i class='bx bx-package'></i></span> Package Information </h4>




<div class="row_details">
    <span>weight</span>
    <strong>2.50kg</strong>
</div>

<div class="row_details">
    <span>Dimensions</span>
    <strong>30*20*15 cm</strong>
</div>


<div class="row_details">
    <span>quantity</span>
    <strong>1</strong>
</div>

<div class="row_details">
    <span>Category</span>
    <strong>Phone</strong>
</div>

        </div>





<div class="shipment_information sender">

    <h4><span><i class='bx bx-clipboard'></i></span> Shipment Information </h4>

<div class="row_details">
    <span>service type</span>
    <strong>Standard</strong>
</div>

<div class="row_details">
    <span>priority</span>
    <strong>Normal</strong>
</div>


<div class="row_details">
    <span>status</span>
    <span class="delivered"> Delivered</span>
</div>

<div class="row_details">
    <span >payment status</span>
    <span class="pay_status">paid</span>
</div>

        </div>



    </div>

    <!-------shipement_righ_details----->

    <div class="shipement_righ_details">



        <div class="tracking_card">

    <h4 class="tracking_title">
        <span class="icon"><i class='bx bx-pulse'></i></span>
        Tracking History
    </h4>

    <div class="tracking_timeline">

        <!-- ITEM -->
        <div class="timeline_item">
            <div class="timeline_left">
                <div class="dot"> <i class='bx bx-check'></i></div>
                <div class="line"></div>
            </div>

            <div class="timeline_content">
                <h5>Delivered</h5>
                <p>Cap-Haitien Warehouse</p>
            </div>

            <div class="timeline_date">
                <p>May 24, 2025</p>
                <span>02:15 PM</span>
            </div>
        </div>

        <!-- ITEM -->
        <div class="timeline_item">
            <div class="timeline_left">
                <div class="dot"> <i class='bx bx-check'></i></div>
                <div class="line"></div>
            </div>

            <div class="timeline_content">
                <h5>Out for Delivery</h5>
                <p>Cap-Haitien Warehouse</p>
            </div>

            <div class="timeline_date">
                <p>May 24, 2025</p>
                <span>09:45 AM</span>
            </div>
        </div>

        <!-- ITEM -->
        <div class="timeline_item">
            <div class="timeline_left">
                <div class="dot"> <i class='bx bx-check'></i></div>
                <div class="line"></div>
            </div>

            <div class="timeline_content">
                <h5>Arrived at Destination</h5>
                <p>Cap-Haitien Warehouse</p>
            </div>

            <div class="timeline_date">
                <p>May 24, 2025</p>
                <span>08:30 AM</span>
            </div>
        </div>

        <!-- LAST ITEM (pa gen line anba) -->
        <div class="timeline_item last">
            <div class="timeline_left">
                <div class="dot"> <i class='bx bx-check'></i></div>
            </div>

            <div class="timeline_content">
                <h5>Shipment Created</h5>
                <p>Port-au-Prince Warehouse</p>
            </div>

            <div class="timeline_date">
                <p>May 20, 2025</p>
                <span>10:30 AM</span>
            </div>
        </div>

    </div>
</div>







<div class="action_buttons">

    <button class="btn btn-outline">
        <i class='bx bx-printer'></i>
        Print Label
    </button>

    <button class="btn btn-primary">
        <i class='bx bx-edit'></i>
        Edit Shipment
    </button>

</div>

    </div>









</div>




</section>
