// project details area


.project-details-area {
    padding: 100px 0 0px;
    .project-details-thumb{
        img{
            width: 100%;
        }
    }
    .project-details-content{
        h4{
            font-size: 36px;
            margin-bottom: 17px;
            margin-top: 12px;
            font-weight: 600;
        }
        p{
            font-size: 17px;
            margin-bottom: 27px;
        }
        h3{
            font-size: 28px;
            margin-bottom: 20px;
            margin-top: 54px;
        }
        .project-details-item-images{
            img{
                width: 100%;
            }
        }
        .project-details-list-item{
            h4{
                font-size: 28px;
                margin-bottom: 17px;
            }
            ul{
                li{
                    font-size: 17px;
                    line-height: 39px;
                    i{
                        display: inline-block;
                        color:var(--theme-color2);
                        font-size: 19px;
                        margin-right: 11px;
                        position: relative;
                        top: 2px;
                    }
                    @include media-breakpoint-only(xl) {
                        display: flex; 
                    }
                }
            }
        }
        .project-details-text{
            display: inline-block;
            font-size: 28px;
            line-height: 38px;
            color:var(--theme-color2);
            font-weight: 600;
            margin-top: 50px;
            margin-bottom: 19px;
        }
    }
    .project-details-right{
        background:var(--theme-color8);
        padding: 29px 41px 30px;
        border-radius: 5px;
        margin-top: 50px;
        .project-details-info{
            border-bottom: 1px solid #86868152;
            padding-bottom: 10px;
            padding-top: 9px;
            p{
                margin-bottom: 0;
            }
            h4{
                font-size: 18px;
                font-weight: 600;
                margin-top: 6px;
            }
        }
    }
     /*sidber contact*/
    .widget-sidber-contact-box {
        background-image: url(../images/inner-image/sidber-contact.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        border-radius: 5px;
        padding: 48px 43px 48px;
        .widget-sidber-contact-text {
            font-size: 18px;
            color:var(--theme-color-white);
            font-weight: 500;
            margin: 0;
            padding: 25px 0 13px;
        }
        .widget-sidber-contact-number {
            font-size: 24px;
            color:var(--theme-color-white);
            font-weight: 600;
            margin: 0 0 14px;
        }
        .widget-sidber-contact-gmail {
            font-size: 16px;
            color:var(--theme-color-white);
            font-weight: 400;
            margin: 0;
            i{
                display: inline-block;
                font-size: 17px;
                color:var(--theme-color2);
                position: relative;
                top: 2px;
                margin-right: 6px;
            }
        }
        .widget-sidber-contact-btn{
            a{
                display: inline-block;
                font-size: 16px;
                color:var(--theme-color-white);
                font-weight: 400;
                font-family: "Inter";
                text-decoration: none;
                background:var(--theme-color2);
                padding: 16px 98px 15px;
                border-radius: 5px;
                margin-top: 55px;
                transition: 0.5s;
                border: 2px solid var(--theme-color2);
                &:hover{
                    background: transparent;
                    color:var(--theme-color2);
                }
                i{
                    display: inline-block;
                    font-size: 18px;
                    position: relative;
                    top: 2px;
                    margin-left: 10px;
                }
                @include media-breakpoint-only(xl) {
                    padding: 16px 80px 15px; 
                }
                @include media-breakpoint-only(lg) {
                    padding: 16px 50px 15px; 
                }
                @include media-breakpoint-only(md) {
                    padding: 16px 70px 15px; 
                }
            }
        }

    }
}

